@import url(http://fonts.googleapis.com/css?family=Lato:100);
body{
  //background: linear-gradient(grey, aliceblue);
  background-color: #2f2f2f;
}

#mycanvas {
    height:600px;
    width:650px;
    background-color:lightgray;
}
.everything{
  margin-left: 50%;
}
.blob{
  width: 136px;
  height: 190px;
  border-radius: 60% 60% 60% 60% / 50% 50% 60% 60%;
  background: linear-gradient(#EAB78C, #FAD1AA);
  transform: rotate(10deg);
  box-shadow: 0px -2px 200px white;
}
.paint{
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 60% 10% 60% 60% / 50% 50% 60% 60%;
  background-image:
    linear-gradient(
      to right,
      red,
      yellow 70%
    );
}
.paint.paint2 {
  margin-left: 20px;
}
.paint.paint1{
  transform: rotate(90deg);
}
.paint.paint3{
  transform: rotate(4deg);
  margin-left: 50px;
}
.paint.paint4{
  margin-left: 60px;
}
#inside-paint{
  position: absolute;
  height: 30px;
  width: 1px;
  background-color: red;
  transform: rotate(90deg);
  left: 20;
}
.circles{
  width: 10px;
  height: 10px;
  background-color: #EAB78C;
  border-radius: 50%;
  stroke:#42424d;
  stroke-linecap:round;
  stroke-linejoin:round;
}
