
#wrapper{
  margin-left: 100px;
}

body{
  background-color: #ecf0f1;
  font: 16px/1.2 "nimbus-sans", "Arial", "Helvetica", sans-serif;
}

#title{
  font-family: monospace;
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
}

.pigeon {
  display: block;
  width: 200px;
  height: 200px;
  background-color: #acdfa1;
  border-radius: 200px;
  position: absolute;
  top: 50%;
  left: 20%;
  margin: -100px 0 0 -100px;
  overflow: hidden;
}
.pigeon:before {
  content: "";
  background-color: #5c7571;
  width: 392px;
  height: 392px;
  border-radius: 392px;
  position: absolute;
  top: -8px;
  right: 5px;
}
.pigeon:after {
  content: "";
  background-color: #acdfa1;
  width: 172px;
  height: 172px;
  border-radius: 172px;
  position: absolute;
  top: -68px;
  right: 55px;
}
.body {
  width: 146px;
  height: 146px;
  border-radius: 146px;
  background-color: #82a09c;
  display: block;
  position: absolute;
  top: 33px;
  right: 34px;
  z-index: 20;
}
.body:before {
  content: "";
  width: 188px;
  height: 188px;
  border-radius: 188px;
  background-color: #acdfa1;
  position: absolute;
  top: -85px;
  right: 74px;
}
.body:after {
  content: "";
  width: 172px;
  height: 172px;
  border-radius: 172px;
  background-color: #acdfa1;
  position: absolute;
  top: 34px;
  right: 84px;
}
.beak {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  display: block;
  background-color: #acdfa1;
  position: absolute;
  left: 22px;
  top: 64px;
  z-index: 30;
  overflow: hidden;
}
.beak:before {
  content: "";
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background-color: #fcbdae;
  position: absolute;
  top: 5px;
  left: 17px;
  z-index: 35;
}
.beak:after {
  content: "";
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background-color: #e18574;
  position: absolute;
  top: 28px;
  left: 18px;
  z-index: 35;
}

.beak i {
  height: 48px;
  width: 48px;
  border-radius: 48px;
  background-color: #acdfa1;
  display: block;
  position: absolute;
  left: 18px;
  top: 36px;
  z-index: 38;
}
.head {
  background-color: #97bab7;
  width: 88px;
  height: 88px;
  display: block;
  border-radius: 88px;
  position: absolute;
  left: 56px;
  top: 32px;
  z-index: 40;
}
.eye {
  display: block;
  height: 14px;
  width: 14px;
  border-radius: 14px;
  position: absolute;
  top: 66px;
  left: 84px;
  background-color: #fff;
  z-index: 50;
}
.eye:before {
  content: "";
  background-color: #584942;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3px 0 0 -3px;
}
.eye:after {
  content: "";
  background-color: #e0f8f6;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  position: absolute;
  left: -35px;
  top: 5px;
}
.input{
  top: 15%;
  left: 30%;
  position: absolute;
  background: white;
  width: 40%;
  height: 40%;
  border-radius: 50%;
}
.input-wrapper{
  text-align: center;
  margin-top: 13%;
}
#greeting{
  font-size: 22px;

}
#name{
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}
.boro{
  width: 150;
}
.boro li{
  background:rgb(205, 210, 211);
  cursor: pointer;
  padding:8; 
}
.boro li:hover { 
  background: rgb(183, 190, 192);
}
.address{
  top: 60%;
  left: 40%;
  position: absolute;
}

.address li {
  background:rgb(205, 210, 211);
  cursor: pointer;
  padding:8;
}
.address li:hover { 
  background: rgb(183, 190, 192);
}
ul{
  padding:1;
}

.result{
  top: 15%;
  left: 55%;
  position: absolute;
  padding: 10px;

  width: 35%;
  height: 70%;
}
a{
  text-decoration: none;
}
#submit{
  text-align: center;
  background: #ACDFA1;
  cursor: pointer;
  font-size: 12px;  
  text-transform: uppercase;
  color: white;
  border: 1px solid #ACDFA1;
  border-radius: 5px;
  padding: 11px 34px;
}